::root {
  --color-balance-red-500: #b05072;
  --color-balance-red-600: #a55973;
  --color-balance-red-800: #8a3a55;
  --color-balance-r1: #9a4d65;
  --color-balance-r2-a: #823650;
  --color-balance-r2-b: #833751;
  --color-balance-black: #1d1414;
  --color-balance-light-pink: #f4e5ef;
  --color-balance-gray-300: #dedce2;
  --color-good-red-50: #f7fbfc;
  --color-good-red-400: #ca9fb4;
  --color-good-red-700: #964662;
  --color-good-red-800: #844056;
  --color-good-red-900: #492a32;
  --color-pink-50: #f7f2f3;
  --color-pink-100: #ede3e5;
  --color-pink-200: #ddc6cb;
  --color-pink-300: #d0adb5;
  --color-pink-400: #c2919c;
  --color-pink-500: #b67384;
  --color-pink-600: #9a5e6e;
  --color-pink-700: #804d5a;
  --color-pink-800: #633b45;
  --color-pink-900: #492a32;
  --color-pink-950: #2c171d;
  --color-brown-50: #f2f0f0;
  --color-brown-100: #e6e1e1;
  --color-brown-200: #cfc4c4;
  --color-brown-300: #bbaaaa;
  --color-brown-400: #a78d8d;
  --color-brown-500: #937171;
  --color-brown-600: #755a5a;
  --color-brown-700: #5c4646;
  --color-brown-800: #413131;
  --color-brown-900: #281d1d;
  --color-brown-950: #1d1414;
  --color-maroon-50: #f9f2f4;
  --color-maroon-100: #f4e4e8;
  --color-maroon-200: #e8c6cf;
  --color-maroon-300: #dfabba;
  --color-maroon-400: #d58ba2;
  --color-maroon-500: #ce6d8e;
  --color-maroon-600: #b45577;
  --color-maroon-700: #964662;
  --color-maroon-800: #662d41;
  --color-maroon-900: #3c1824;
  --color-maroon-950: #270d16;
  --color-blue-50: #f7f9fe;
  --color-blue-100: #dee9fb;
  --color-blue-200: #b4cef5;
  --color-blue-300: #84b2ee;
  --color-blue-400: #4c97e2;
  --color-blue-500: #3b7dbe;
  --color-blue-600: #2c6499;
  --color-blue-700: #1e4b76;
  --color-blue-800: #0f3252;
  --color-blue-900: #051d32;
  --color-blue-950: #021222;
  --color-other-blue-50: #eef4fb;
  --color-other-blue-100: #d9e7f6;
  --color-other-blue-200: #b1cfed;
  --color-other-blue-300: #85b9e4;
  --color-other-blue-400: #67a1ce;
  --color-other-blue-500: #588ab1;
  --color-other-blue-600: #446c8b;
  --color-other-blue-700: #325169;
  --color-other-blue-800: #203749;
  --color-other-blue-900: #101f2b;
  --color-other-blue-950: #09141d;
  --color-green-50: #f6fefa;
  --color-green-100: #bcf8dc;
  --color-green-200: #84deb7;
  --color-green-300: #75bf9f;
  --color-green-400: #659e85;
  --color-green-500: #4f846d;
  --color-green-600: #3a6754;
  --color-green-700: #294e3e;
  --color-green-800: #18362a;
  --color-green-900: #0a1f17;
  --color-green-950: #04140d;
  --color-yellow-50: #fff8f3;
  --color-yellow-100: #ffe7d3;
  --color-yellow-200: #ffc78e;
  --color-yellow-300: #faa800;
  --color-yellow-400: #d99200;
  --color-yellow-500: #ba7c00;
  --color-yellow-600: #9c6700;
  --color-yellow-700: #7f5300;
  --color-yellow-800: #634000;
  --color-yellow-900: #372100;
  --color-yellow-950: #241400;
  --color-yellow-two-50: #fcf5ef;
  --color-yellow-two-100: #f8e5d1;
  --color-yellow-two-200: #f2c892;
  --color-yellow-two-300: #dfae66;
  --color-yellow-two-400: #c19658;
  --color-yellow-two-500: #a5804a;
  --color-yellow-two-600: #836539;
  --color-yellow-two-700: #634c2a;
  --color-yellow-two-800: #42321a;
  --color-yellow-two-900: #261c0c;
  --color-yellow-two-950: #1a1206;
  --color-cyan-50: #e9fdfd;
  --color-cyan-100: #a8f9f8;
  --color-cyan-200: #82e4e3;
  --color-cyan-300: #78c9c8;
  --color-cyan-400: #61adac;
  --color-cyan-500: #4c9190;
  --color-cyan-600: #3a7676;
  --color-cyan-700: #285d5c;
  --color-cyan-800: #184444;
  --color-cyan-900: #0b2d2c;
  --color-cyan-950: #042221;
  --color-fuchsia-50: #fdf0f5;
  --color-fuchsia-100: #fadee9;
  --color-fuchsia-200: #f6c0d7;
  --color-fuchsia-300: #f29dc3;
  --color-fuchsia-400: #ee75b0;
  --color-fuchsia-500: #eb49a1;
  --color-fuchsia-600: #c83787;
  --color-fuchsia-700: #a52c6f;
  --color-fuchsia-800: #701b4a;
  --color-fuchsia-900: #420c2a;
  --color-fuchsia-950: #2d061b;
  --color-purple-50: #f8f2f8;
  --color-purple-100: #f0e5f0;
  --color-purple-200: #e2cee2;
  --color-purple-300: #d1b6d1;
  --color-purple-400: #bfa0bf;
  --color-purple-500: #aa7daa;
  --color-purple-600: #886088;
  --color-purple-700: #694769;
  --color-purple-800: #492d49;
  --color-purple-900: #2d182d;
  --color-purple-950: #1e0d1e;
  --color-gray-50: #ffffff;
  --color-gray-100: #ffffff;
  --color-gray-200: #f6f6f6;
  --color-gray-300: #d7d7d7;
  --color-gray-400: #b9b9b9;
  --color-gray-500: #9b9b9b;
  --color-gray-600: #7c7c7c;
  --color-gray-700: #616161;
  --color-gray-800: #4a4646;
  --color-gray-900: #342d2d;
  --color-gray-950: #282020;
  --color-orange-50: #f8efee;
  --color-orange-100: #f4e1df;
  --color-orange-200: #eec2bd;
  --color-orange-300: #eb9d92;
  --color-orange-400: #eb7761;
  --color-orange-500: #d7593b;
  --color-orange-600: #b5472a;
  --color-orange-700: #90341b;
  --color-orange-800: #70250e;
  --color-orange-900: #501705;
  --color-orange-950: #3f0f02;
}
