::root {
  --spacing-extra-small: 2px;
  --spacing-small: 4px;
  --spacing-normal: 8px;
  --spacing-large: 12px;
  --spacing-extra-large: 24px;
  --spacing-2xl: 32px;
  --spacing-3xl: 46px;
  --spacing-4xl: 64px;
  --spacing-8xl: 128px;

  --font-sans: 'SF Pro Text', sans-serif;
  --font-mono: 'Fira Code', mono;

  --font-size-caption: 1rem;
  --font-size-text: 1.3rem;
  --font-size-large: 1.6rem;
  --font-size-sub-title: 2.2rem;
}

window.Bar {
  font-family: var(--font-sans);
  background: var(--bg-color);
  color: var(--fg-color);
  padding: 0px 0px;
  margin: var(--spacing-small);
  font-weight: 400;

  dropdown button.toggle {
    padding: var(--spacing-small) var(--spacing-normal);
  }

  button {
    padding: var(--spacing-extra-small) var(--spacing-extra-small);
    border-radius: 6px;
  }

  .bar-start {
    padding-left: var(--spacing-large);
  }

  .bar-end {
    padding-right: var(--spacing-large);
  }
  .bar-end > *:not(:last-child) {
    margin-right: var(--spacing-small);
  }

  .bar-end .widget.widget-menubutton,
  .bar-end .widget .widget-menubutton,
  .bar-end .widget.widget-menubutton > button,
  .bar-end .widget .widget-menubutton > button {
    background: var(--bg-color);
    padding: var(--spacing-extra-small) var(--spacing-extra-small);
  }

  popover {
   contents {
      background-color: var(--surface);
    }
  }

  .tray-button popover,
  .styled-popover {
    & > * {
      padding: 0px;
      padding-top: var(--spacing-small);
      border-radius: 6px;
      background-color: var(--surface);
    }

    separator {
      margin-left: var(--spacing-small);
      margin-right: var(--spacing-small);
    }
  }

  .tray-button popover {
    contents > scrolledwindow > viewport > stack > box {
      padding: 0px;
    }
    modelbutton {
      background-color: transparent;
      padding: 0 var(--spacing-2xl);
      border-radius: 0;

      &:hover {
        background: var(--bg-secondary);
      }
    }
  }

  .option-list {
    .option-list-item {
      border-radius: 0px;
      background-color: transparent;
      padding: var(--spacing-small) var(--spacing-normal);

      &:hover {
        background-color: var(--bg-secondary);
      }
      .option-label {
        font-weight: 400;
      }
    }

    .option-list-item.active {
    }
  }

  > centerbox {
    background: var(--bg-color);
    margin: 0px;
  }

  .hyprland-window {
  }

  .hyprland-desktops {
    .hyprland-workspace {
      border-radius: 0px;
      padding: var(--spacing-small) var(--spacing-normal);
      background-color: var(--color-pink-200);
      font-weight: 400;
    }
    .hyprland-workspace:last-child {
    }

    .hyprland-workspace.active {
      background: var(--color-pink-400);
    }
  }

  .widget.battery {
    .battery-popover {
      .battery-popover-content {

        & > * {
          margin-bottom: var(--spacing-small);
        }

        & > *:last-child {
          margin-bottom: 0px;
        }

        .battery-state {
          padding: var(--spacing-small) var(--spacing-2xl);
          .battery-state-label {
            font-weight: 400;
          }

          & > *:first-child {
            margin-left: 0px;
          }

        }

        .power-profile-container {
          .power-profile-label {
            font-weight: 600;
            padding: var(--spacing-small) var(--spacing-2xl);
          }
          .power-profile-dropdown {
          }
        }

      }
    }
  }

  .date-time {
  }

  .tray > *:not(:last-child) {
    margin-right: var(--spacing-small);
  }

  .tray button {
    background: var(--bg-color);
    padding: var(--spacing-extra-small) var(--spacing-extra-small);
  }

  .mpris {
  }
  .mpris .mpris-icons image:not(:last-child) {
    margin-right: var(--spacing-small);
  }
  .mpris .mpris-icons image {
    padding: 0px var(--spacing-extra-small);
  }

  .mpris-player {
  }

  .mpris .cover-art-container {
    border-radius: 8px;
  }

  .widget.wifi {
    .wifi-toggle {
      padding: var(--spacing-small) var(--spacing-extra-large);
      margin-bottom: var(--spacing-small);

      label {
        margin-left: var(--spacing-large);
      }
    }

    .wifi-list {
      margin-bottom: var(--spacing-small);
    }

    .network-settings button {
      font-weight: 400;
      background-color: transparent;
      padding: var(--spacing-small) var(--spacing-extra-large);

      &:hover {
        background-color: var(--bg-secondary);
      }
    }
  }

  .widget-menubutton.audio {
    .volume-levels {
    }

    .audio-device-select {
      .device-select-label {
        padding: var(--spacing-small);
        padding-left: var(--spacing-2xl);
      }
    }
    .streams-container,
    .volume-container {
      padding: var(--spacing-small);
      padding-left: var(--spacing-2xl);
    }
    .streams-container {
      .streams-label {
        margin-bottom: var(--spacing-large);
      }

      .streams-list {

        & > *:not(:last-child) {
          margin-bottom: var(--spacing-small);
        }

        .audio-stream {

        }
      }
    }
  }
}
