::root {
  --spacing-extra-small: 2px;
  --spacing-small: 4px;
  --spacing-normal: 8px;
  --spacing-large: 12px;
  --spacing-extra-large: 24px;
  --spacing-2xl: 32px;
  --spacing-3xl: 46px;
  --spacing-4xl: 64px;
  --spacing-8xl: 128px;

  --font-sans: 'SF Pro Text', sans-serif;
  --font-mono: 'Fira Code', mono;

  --font-size-caption: 1rem;
  --font-size-text: 1.3rem;
  --font-size-large: 1.6rem;
  --font-size-sub-title: 2.2rem;
}

window.Bar {
  font-family: var(--font-sans);
  background: var(--bg-color);
  color: var(--fg-color);
  padding: 0px 0px;
  margin: var(--spacing-small);
  font-weight: 400;

  dropdown button.toggle {
    padding: var(--spacing-small) var(--spacing-normal);
  }

  button {
    padding: var(--spacing-extra-small) var(--spacing-extra-small);
    border-radius: 6px;
  }

  .bar-start {
    padding-left: var(--spacing-large);
  }

  .bar-end {
    padding-right: var(--spacing-large);
  }
  .bar-end > *:not(:last-child) {
    margin-right: var(--spacing-small);
  }

  .bar-end .widget.widget-menubutton,
  .bar-end .widget .widget-menubutton,
  .bar-end .widget.widget-menubutton > button,
  .bar-end .widget .widget-menubutton > button {
    background: var(--bg-color);
    padding: var(--spacing-extra-small) var(--spacing-extra-small);
  }

  > centerbox {
    background: var(--bg-color);
    margin: 0px;
  }

  .hyprland-window {
  }

  .hyprland-desktops {
    .hyprland-workspace {
      border-radius: 0px;
      padding: var(--spacing-small) var(--spacing-normal);
      background-color: var(--color-pink-200);
      font-weight: 400;
    }
    .hyprland-workspace:last-child {
    }

    .hyprland-workspace.active {
      background: var(--color-pink-400);
    }
  }

  .widget.battery {
    .battery-popover {
      .battery-popover-content {
        padding: var(--spacing-small) var(--spacing-normal);

        & > * {
          margin-top: var(--spacing-normal);
        }
        & > *:first-child {
          margin-top: 0px;
        }

        .battery-state {
          .battery-state-label {
            font-weight: 500;
          }

          & > * {
          }
          & > *:first-child {
            margin-left: 0px;
          }

        }

        .power-profile-container {

          .power-profile-label {
            font-weight: 400;
          }
          .power-profile-dropdown {
          }
        }

      }
    }
  }

  .date-time {
  }

  .tray > *:not(:last-child) {
    margin-right: var(--spacing-small);
  }

  .tray button {
    background: var(--bg-color);
    padding: var(--spacing-extra-small) var(--spacing-extra-small);
  }

  .mpris {
  }
  .mpris .mpris-icons image:not(:last-child) {
    margin-right: var(--spacing-small);
  }
  .mpris .mpris-icons image {
    padding: 0px var(--spacing-extra-small);
  }

  .mpris-player {
  }

  .mpris .cover-art-container {
    border-radius: 8px;
  }

  .wifi {
    .wifi-toggle {
      padding: var(--spacing-small) var(--spacing-small);
      margin-top: var(--spacing-normal);

      label {
        margin-left: var(--spacing-large);
      }
    }

    .wifi-list {
      margin-top: var(--spacing-normal);

      .network-entry {
        padding: var(--spacing-small) var(--spacing-normal);
        border-radius: 0px;
        background-color: transparent;
        &:hover {
          background-color: var(--bg-color);
        }
        .network-ssid {
          font-weight: 400;
        }
      }
    }
    .wifi-list.active {
      .network-entry {
        .network-ssid {
          font-weight: 700;
        }
      }
    }

    button.network-settings {
      font-weight: 400;
      margin-top: var(--spacing-normal);
    }
  }

  .widget-menubutton.audio {
    .volume-levels {
      margin-top: var(--spacing-normal);
    }
  }
}
