::root {
  --bg-color: var(--color-pink-100);
  --fg-color: var(--color-good-red-950);
  --bg-primary: var(--color-good-red-50);
  --bg-secondary: var(--color-good-red-400);
  --text-primary: var(--color-good-red-950);
  --text-secondary: var(--color-gray-900);
}
