::root {
  --bg-color: var(--color-good-red-50);
  --surface: var(--color-balance-light-pink);
  --fg-color: var(--color-balance-black);
  --bg-secondary: var(--color-good-red-400);
  --text-primary: var(--color-balance-black);
  --text-inverse: var(--color-good-red-50);
  --text-secondary: var(--color-gray-900);
  --accent: var(--color-balance-r1);
}

.bar-end .widget .widget-menubutton>button:checked .battery-icon,
.bar-end .widget .widget-menubutton>button:checked .wifi-icon {
  filter: invert(100%);
}
